<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить новый пост</title>
</head>
<body>
<h1>Создать новый пост</h1>
<form th:action="@{/posts/create-post}" method="post" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Заголовок" required><br><br>
    <label for="postImg">
        Обложка
        <input style="width: 20%;" type="file" id="postImg" name="postImg" accept=".jpg, .jpeg, .png"  required><br><br>
    </label>
    <textarea style="height: 50px" name="description" placeholder="Краткое описание" required></textarea><br><br>
    <textarea style="height: 150px" name="text" placeholder="Текст" required></textarea><br><br>
    <input style="width: 25%" type="text" placeholder="URL" name="postUrl" required><br><br>
    <div th:if="${errorUrl}" style="color: red; font-size: 14px;">Этот URL занят</div><br><br>
    <button type="submit">Сохранить</button>
</form>
<br>
<a href="/posts/">Назад на главную</a>
</body>
</html>
<style>
    input, textarea {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 4px;
    }
    button {
        margin: 0 10px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }
    body {
        padding: 20px;
        margin: 50px;
        text-align: center;
    }
</style>