<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"><head>
    <meta charset="UTF-8">
    <title th:text="${post.getTitle()}"></title>
</head>
<body>
    <h1 th:text="${post.getTitle()}"></h1>
    <p th:text="${post.getDescription()}"></p>
    <img th:src="'data:image/jpeg;base64,' + ${post.getPostImg()}" alt="Post Image" width="300">
    <div th:text="${post.getText()}"></div>
    <form sec:authorize="hasRole('ADMIN')" th:action="'/posts/' + ${post.getPostUrl()} + '/delete'" method="post">
        <button type="submit">Удалить пост</button>
    </form>
    <a sec:authorize="hasRole('ADMIN')" th:href="'/posts/' + ${post.getPostUrl()} + '/update'">
        <button>Редактировать пост</button>
    </a>
</body>
</html>
<style>
    button {
        padding: 10px 20px;
        font-size: 16px;
    }
    a {
        text-decoration: none;
        color: black;
    }
</style>